{% extends "base.html" %}

{% block content %}
<a href="{% url 'reminders:reminder_create' %}">New reminder</a><br/><br/>
<a href="{% url 'reminders:tag_create' %}">New tag</a><br/><br/>
<h4> Reminders: </h4>
{% comment %} {% if  reminder in object_list %} {% endcomment %}

{% for reminder in object_list %}
<div style='border:2px solid;'>
    <div style='padding:6px;'>
    {% comment %} <a href="{% url 'reminders:reminder_detail' reminder.id %}">{{ reminder.name }}</a> {% endcomment %}
    <div style='border-bottom:2px solid'><a href="{% url 'reminders:reminder_detail_bis' reminder.id %}">{{reminder.name}}</a></div> 
    <ul style='list-style-type: none; padding-left:0; padding-top:8px; margin:0'>
        {% for tag in reminder.tags.all %}
        <li style='background-color:#99b3ff; display:initial;padding:3px;border-radius:8px;' >{{tag}}</li>
        {% endfor %}
    </ul>
    {{reminder.description}} <br/>
    {{reminder.date}}
    
</div>
</div><br/>
{% endfor %}

{% comment %} {% else %}
No reminders yet. Add a <a href="{% url 'reminders:reminder_create' %}">reminder</a>
{% endif %} {% endcomment %}

{% endblock content %}