{% extends "base.html" %}
{% load django_vite %}
{% block content %}
<a href="{% url 'reminders:reminder_list' %}">Reminders list</a><br/><br/>

    {% comment %} <form method="post">    {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>  {% endcomment %}
    <div id="app">
        <app></app>
    </div>
    {{reminder_dict}}
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
        var ext_csrf_token = '{{ csrf_token }}'
        var ext_form = `{{form.as_p | safe}}`
        var ext_reminder_dict = {'id': 3, 'name': 'blah', 'description': 'test', 'homework': false, 'date': '2020-04-04', 'tags': [{'id': 3, 'name': 'test'}]};
        // var ext_reminder_dict = {{ reminder_dict | safe }}
        var ext_tag_list = {{ tag_list | safe }}
        var ext_update_bis_url = '{% url 'reminders:reminder_update_bis' object.id %}'
    </script>
    {% vite_hmr_client %}
    {% vite_asset 'src/apps/reminder_edit/reminder_edit.js' %}
{% endblock js %}