{% extends "base.html" %}
{% load django_vite %}
{% block head %}
    <script type="text/javascript">
        ext_csrf_token="{{csrf_token}}"; {# double quotes are important#}
        ext_tag_list = "{{ tag_list | safe }}";
    </script>
{% endblock head%}
{% block content %}
<a href="{% url 'reminders:reminder_list' %}">Reminders list</a><br/><br/>

    {% comment %} <form method="post">    {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>   {% endcomment %}
    <div id="appcreate">
        <div token="{{csrf_token}}"></div>
        <appcreate></appcreate>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
        var ext_csrf_token = "{{ csrf_token }}"
        {% comment %} var ext_form = `{{form.as_p | safe}}` {% endcomment %}
        {% comment %} var ext_reminder_dict = {{ reminder_dict | safe }} {% endcomment %}
        {% comment %} var ext_tag_list = {{ tag_list | json_script:"tag_list" }}  {% endcomment %}
        var ext_tag_list = {{ tag_list | safe }}
    </script>
    {% vite_hmr_client %}
    {% vite_asset 'src/apps/reminder_create/reminder_create.js' %} 
{% endblock js %}