{% extends "base.html" %}

{% block content %}
<a href="{% url 'reminders:reminder_create' %}">New reminder</a><br/><br/>

<h4> Reminders: </h4>
{% comment %} {% if  reminder in object_list %} {% endcomment %}

{% for reminder in object_list %}
    {% comment %} <a href="{% url 'reminders:reminder_detail' reminder.id %}">{{ reminder.name }}</a> {% endcomment %}
    <a href="{% url 'reminders:reminder_detail_bis' reminder.id %}">{{reminder.name}}</a> - {{reminder.description}} <br/>
{% endfor %}

{% comment %} {% else %}
No reminders yet. Add a <a href="{% url 'reminders:reminder_create' %}">reminder</a>
{% endif %} {% endcomment %}

{% endblock content %}