{% extends "base.html" %}

{% block content %}
<a href="{% url 'reminders:reminder_list' %}">Reminder list</a><br/>
<a href="{% url 'reminders:reminder_update' object.id %}">Update Reminder</a><br/>
<a href="{% url 'reminders:reminder_delete' object.id %}">Delete Reminder</a><br/>
<h1>{{ object.name }}</h1>
{% comment %} Tags:  {% endcomment %}
{% for tag in object.tags.all %}
{{tag.name}}<br/>
{% endfor %}
<br/>
Description: {{object.description}}<br/>
Date: {{object.date}} <br/>

{% endblock content %}